:root {
    --color-pri: #f6d200;
    --color-sec: #ededed;
    --color-white: #ffff;
    --color-dark: #000;


}


body {
    background: var(--color-sec);
    font-family: 'Asap', sans-serif;
    color: var(--color-dark);
    line-height: 1.5;
}

/* header css goes on  */
.site-title {
    font-weight: 2.5rem;
    color: var(--color-white);
    font-weight: 300;
    text-transform: uppercase;
}

.site-description {
    font-style: italic;
    color: var(--color-pri);
    font-weight: bold;
    font-size: 1.5rem;
}

.site-header {
    background-color: var(--color-dark);
    height: 400px;
    display: flex;
    color: var(--color-white);
    flex-direction: column;
}

.site-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu {
    background-color: var(--color-pri);
}

.main-menu ul {
    display: flex;
    flex-direction: column;
}

.main-menu li a {
    color: var(--color-dark);
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
}

.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li a:active {
    background-color: var(--color-dark);
    color: var(--color-pri);
}



/* .main-content-area css goes on  */

.content-area {
    display: flex;
    flex-direction: column;
}

.main-content-area {
    padding: 1.5rem;

}



/* ####### css for posts section ############## */
.posts {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1.25rem; */

}

.post {
    margin-bottom: 1.25rem;

}

.post a {
    color: var(--color-dark);
}

.post img {
    height: 100%;
    display: block;
}

.post-content>h2 {
    background-color: var(--color-pri);
    color: var(--color-dark);
    text-align: center;
    padding: 1.875rem;

}

.post-content>p {
    padding: 2rem;
    background-color: var(--color-white);
}

/* watch card css  */
.watch-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.watch-banner-container>img {
    height: 100%;
    object-fit: cover;
    display: block;
}

.watch-content {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.875rem;
}

.watch-content h3 {
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.movie-info>span {
    margin-right: 1rem;
}

.movie-story {
    margin: 1rem 0;
}

.watch-content a:link,
.watch-content a:visited {
    text-decoration: underline;
    color: var(--color-white);
}

/* downlod section  css */
.download-card{
    display: flex;
    flex-direction: column;
}
.downlod-info{
    background-color: var(--color-white);
    padding: 10px 20px;
}

.download-img{
    background-color: var(--color-dark);
}

.download-content > a{
display: flex;
padding: 20px;
text-align: center;
background: var(--color-dark);
flex-direction: column;
color: var(--color-white);
}

.download-cast>img{
    width:3.75rem;
    height: 3.75rem;
    border-radius:50px;
}

.download-rating{
    display: flex;
    background-color: var(--color-pri);
    padding:16px 20px;
    flex-direction: column;
    align-items:center;
    font-weight: 700;
}
.download-genere{
    margin-bottom:10px;
}
.gallary-imgs{
    display: flex;
    flex-wrap: wrap;
}
.gallary-img{
height: 400px;
flex-grow: 1;
margin: 0  0 15px 15px;
}

.gallary-img img{
 height: 100%;
 width: 100%;
 object-fit: cover;
}
/* 1 5 9 */
.gallary-img:nth-child(4n + 1){
    flex-basis: 300px;
}
/* 2 6  10  */
.gallary-img:nth-child(4n + 2){
    flex-basis: 400px;
}
/* 3 7 */
.gallary-img:nth-child(4n + 3){
    flex-basis: 300px;
}
/* 4 8 */
.gallary-img:nth-child(4n + 4){
    flex-basis:600px;
}
/* footer css goes on  */
.footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: .625rem;
    text-align: center;

}
/* sidebar css here  */
.sidebar-right {
    background-color: var(--color-sec);
    padding: 1.25rem;
}
.widget{
    background-color: var(--color-white);
    margin-bottom: 1.25rem;
    border-radius:5px;
}
.widget-content{
    padding: 0.625rem;
}
.widget-content h3{
    text-transform: capitalize;
    margin-bottom:0.625rem;
}
.widget-content ul{
    padding-left: 1rem;
}
.widget-content ul a:link,.widget-content ul a:visited {
    color: var(--color-dark);
    padding-bottom: 8px;
    font-weight: bold;
    display: block;
}


@media all and (min-width:768px) {
    .posts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post {
        width: 49%
    }

    .post-content>h2 {
        height: 132px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}




@media all and (min-width:992px){
    .watch-card{
        flex-direction: row;
    }
    .watch-banner-container{
        flex:0,0,flex;
    }
    figcaption.watch-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .watch-card:nth-child(odd).watch-banner-container{
        order: 1;
    }
    .download-content{
        display: flex;
    }
    .downlod-info{
        flex-grow:1;
    }
    .download-rating,.download-content>a{
        justify-content: center;
    }

}

@media all and (min-width :1200px) {
    .main-menu ul {
        flex-direction: row;
    }

    .main-menu ul li {
        flex-grow: 1;
    }

    .content-area {
        flex-direction: row;
    }

    .sidebar-right {
        flex: 0 0 320px;
    }

    .post-one-third {
        width: 32%
    }

    .post-one-full {
        width: 100%
    }
}  